<div class="container">
  <div class="row" >
    <div class="col-xs-12 col-sm-2" ng-repeat="elt in elts">

      <div class="tile {{env}}" ng-click="openApp(elt.url)">
        <div class="img-wrapper">
          <img alt="Logo" ng-src="{{elt.img}}" />
        </div>
        <div>
          {{elt.title}}
        </div>
      </div>

      <div class="subtile">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-sm btn-link">
            <i class="material-icons" aria-hidden="true">create</i>
          </button>
          <button type="button" class="btn btn-sm btn-primary btn-link">
            <i class="material-icons" aria-hidden="true">delete</i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>